/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/** HTML5 display-role reset for older browsers **/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of css reset */

/* Basic font settings */

html {
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 16px;
    /* this will be the base font size for this site */
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2.25rem;
    /* 36px */
}

h2 {
    font-size: 1.375rem;
    /* 22px */
    line-height: 2.0625rem;
    /* 33px */
}

h3 {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.6875rem;
    /* 27px */
}

h4 {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

h5 {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1.125rem;
    /* 18px */
}

h6 {
    font-size: 0.625rem;
    /* 10px */
    line-height: 0.9375rem;
    /* 15px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Electrolize, sans-serif;
    font-weight: 400;
    color: #5b5b5b;
    text-transform: none;
    margin-bottom: 1.5rem/*24px*/
}

dt {
    font-family: Electrolize, sans-serif;
    font-weight: 400;
    margin-bottom: 1.25rem;
    /*20px*/
    color: #0A1B2C;
}

dd {
    margin-bottom: 1.5rem/*24px*/
}

body {
    margin: 0;
    padding: 0;
    color: #888;
    background-color: #f9fbfc;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

button,
input,
select,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 1.5rem;
}

em::after {
    content: "";
    padding-right: 0.125rem;

}

/* end of Basic font settings */

#page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 1.5rem;
    height: 4rem;
    width: 100%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    background: #0a1b2c;
    align-items: center;
}

.header h1 {
    color: #c3f2ff;
    font-size: 1rem;
    margin: 0;
}

.navbutton {
    display: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 56px;
    height: 4rem;
    z-index: 99999;
    background-image: url("data:image/svg+xml,%3Csvg fill='%236c6c6c' height='48' viewBox='0 0 24 24' width='48' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0 0h24v24H0z' fill='none'/%3E %3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E %3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

.main {
    margin-top: 4rem;
    padding-top: 3rem;
    margin-left: 12rem;
    max-width: 1000px;
    overflow: hidden;
}

.sidenav {
    position: fixed;
    top: 4rem;
    left: 0;
    padding: 0;
    width: 12rem;
    height: 100%;
    max-height: calc(100% - 2rem - 4px);
    font-size: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: -webkit-filter .2s ease-out;
    transition: -webkit-filter .2s ease-out;
    transition: filter .2s ease-out;
}

/** Sidebar **/

#p-logo {
    top: 0;
    left: 0;
    margin-bottom: 8px;
    padding: 3rem 1rem 1rem;
}

#p-logo a {
    display: block;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    margin: 0 auto;
}

a {
    color: #1e9ee0;
}

a:visited {
    color: #1e9ee0;
}

.sidenav h3 {
    margin: 8px 0;
    padding: 10px 20px;
    border-bottom: 1px solid #d0d0d0;
    text-transform: uppercase;
    font-size: .6rem;
    color: #9e9e9e;
    font-weight: 700;
    line-height: 1.2;
}

.sidenav ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.sidenav ul li {
    line-height: 1.2;
    margin: 0;
    font-size: 0.75rem;
    font-family: Electrolize, sans-serif;
    word-wrap: break-word;
}

.sidenav ul li a {
    display: block;
    padding: 8px 20px;
    color: #aaa;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    text-decoration: none;
}

.sidenav ul li a:hover {
    background: #eee;
}

#content {
    padding: 0 2.5rem;
}

#donation-title {
    font-weight: 600;
    margin-bottom: 1rem;
}

.faq-panel {
    max-width: 40rem;
    border: 1px solid #fff;
    margin-bottom: 1.5rem;
    /* this is accordion panel */
}

.card-row {
    margin: 1rem -8px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.row-wrapper {
    display: flex;
    overflow-y: visible;
    margin: 6px 0;
    height: auto;
}

.card {
    border-radius: 2px;
    background: white;
    width: 226px;
    height: 20rem;
    margin-left: 8px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.card > a,
#coinhive a#mining-start {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 180px;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
}

#letter {
    padding-left: 30px;
    font-size: 115%;
    line-height: 1.618;
    font-style: italic;
    color: rgba(0, 0, 0, .6);
}

#paypal.card {
    background: linear-gradient(180deg, #58b4d3 0, #695fb5 100%)
}

#paypal a {
    background-image: url(media/paypal.svg)
}

#coinhive.card {
    background: linear-gradient(180deg, #ff9600 0, #FDD835 100%)
}

#coinhive a#mining-start {
    background-image: url(media/coinhive.svg)
}

#bitcoin.card {
    background: linear-gradient(180deg, #FF9800, #FF5722 100%)
}

#bitcoin a {
    background-image: url(media/bitcoin.svg)
}

#monero.card {
    background: linear-gradient(180deg, #ff7519, #616161 100%)
}

#monero a {
    background-image: url(media/monero.svg)
}

.caution {
    background: #fffde7;
    padding: 1rem;
    margin-bottom: 3rem;
    border: 1px solid #fff59d;
}

#mining-monitor {
    position: relative;
    display: flex;
    z-index: 4;
    font-size: .8rem;
    bottom: 3.4rem;
    padding: .5rem;
    color: white;
    white-space: nowrap;
    overflow: auto;
    justify-content: space-around;
}

#mining-monitor:after {
    display: none;
}

#mining-monitor .number-label {
    font-weight: 500;
}

#mining-monitor > div {
    display: flex;
    flex-direction: column;
}

#mining-stats-container {
    border-bottom: none;
}

/* Footer */

div#footer {
    background: #546e7a;
}

div#footer ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

div#footer #footer-info li {
    line-height: 1rem;
    max-width: 600px;
}

div#footer ul li {
    padding: .5em 0;
    margin: 0;
    font-size: .7em;
    color: #f5f5f5;
}

div#footer #footer-places,
td.cquote {
    float: left;
}

#footer #footer-places {
    padding: 1rem 20px .5rem!important;
}

div#footer #footer-places li {
    float: left;
    margin-right: 1em;
    line-height: 2em;
}

#footer #footer-info {
    padding: 1.5rem 20px 0!important;
}

@media (max-width: 1000px) {
    .header {
        padding: 0;
    }
    .main {
        margin-left: 0;
        padding-top: 1rem;
    }
    .sidenav {
        z-index: 99;
        background: #f6f9fa;
        max-height: none;
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
        transform: translateX(-14rem);
        transition: all .4s ease;
        will-change: transform;
    }
    .navbutton {
        display: block;
    }
    .navbutton:hover ~ nav,
    .sidenav:hover {
        transform: translateX(0);
        will-change: unset;
    }
    .card-row {
        margin: 1rem -28px;
        padding: 0 20px;
    }
    #content {
        padding: 0 20px;
    }
    #footer #footer-info {
        padding: 1.5rem 20px 0!important;
    }
    #footer #footer-places {
        padding: 1rem 20px .5rem!important;
    }
    div#footer #footer-icons {
        width: calc(100% - 0px)!important; //width: calc(100% - 40px)!important;
    }
    .catlinks,
    div#footer #footer-icons {
        padding: .5em 20px!important;
    }

}

@media (min-width: 1400px) {
    .main {
        margin-left: auto;
        margin-right: auto;
    }
}

.mw-wiki-logo {
    width: 160px;
    height: 160px;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
    background-image: url(images/sc-tools-logo.svg);
}